*
{
    overflow: auto;
}
body{
    background-color: #8ba1bb;
    font-family: Arial;
    margin: 0;
    }

div.contenu {
        background-color: white;
        margin: 40px 8px 40px 8px;
        padding: 0px 8px 20px 8px;
        box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
        overflow: visible;
    }
h1 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 10px;
}
.centre {
    text-align: center;
    width: 100%;
}
p.description {
    text-align: center;
    max-width: 1000px;
    display: inline-block;
    font-size: 14;
}
div.categorie{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}
p.categorie {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 0;
    padding: 8px 18px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}
p.separateur
{
    text-align: center;
    display: inline-block;
}
div.separateur
{
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
div.info
{
    position : relative
}
table.info
{
    position: absolute; 
    bottom: 0; width: 100%; 
    color: white; 
    background-color: #6c829dc0; 
    height: 50px;
}

table.info th 
{
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 7px;  
}

table.info td 
{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

img.info
{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: aquamarine;
}

div.colonne
{
    width: 100%;
    margin-top: 20px;
}

div.colonne h2
{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 10px solid #6c829d;
    padding: 5px;
}

div.colonne1
{
    display: inline-block;
}


div.ingredients p
{
    border: 1px solid lightgray;
    text-align: center;
    font-size: 14px;
    padding : 8px 0;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.numero
{
    background-color: #6c829d;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td
{
    vertical-align: top;
}
table.preparation td.preparation_etape
{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr
{
    height: 40px;
}

@media only screen and (min-device-width: 768px){
    
    div.contenu {
        
        min-width: 450px;
        margin: 60px 10% 50px 10%;
        padding: 0px 30px 30px 30px;
    }

    table.info
{
    height: 80px;
}

table.info th 
{
    font-size: 16px;
}

table.info td 
{
    font-size: 14px;
     
}
div.colonne
{
    width: 45%;
}

div.colonne1
{
    margin-right: 10%;
}

div.colonne2
{
    float: right;
}
}

@media only screen and (min-device-width: 900px){
    
    div.contenu {
        
       width: 645px;
        margin-left: auto;
        margin-right: auto;
       
    }
}